#about .header {
  margin-bottom: 50px;
}

.two-colm {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}

.two-colm p {
  width: 45%;
  line-height: 40px;
}

.two-colm .img-container {
  width: 45%;
  display: flex;
  justify-content: center;
}
.two-colm.reverse {
  flex-direction: row-reverse;
}

.two-colm .img {
  height: 400px;
  width: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.two-colm .img.problem {
  background-image: url("../../images/problem.png");
}
.two-colm .img.survey {
  background-image: url("../../images/survey.png");
}
.two-colm .img.concept {
  background-image: url("../../images/concept.png");
}

.team {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team .teamNode {
  width: 21%;
  margin-bottom: 40px;
}
.team .teamNode .picture {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: 0px 25%;
}
.team .teamNode .picture.alex {
  background-image: url("../../images/alex-web.jpg");
}
.team .teamNode .picture.shelb {
  background-image: url("../../images/shelby-web.jpg");
}
.team .teamNode .picture.caren {
  background-image: url("../../images/caren-web.jpg");
}
.team .teamNode .picture.erika {
  background-image: url("../../images/erika-web.jpg");
}
.team .teamNode .picture.ian {
  background-image: url("../../images/ian-web.jpg");
}
.team .teamNode .picture.zach {
  background-image: url("../../images/zach-web.jpg");
}
.team .teamNode .picture.matt {
  background-image: url("../../images/matthew-web.jpg");
}
.team .teamNode .picture.pat {
  background-image: url("../../images/patrick-web.jpg");
}

.team .teamNode .name {
  margin: 20px 0 10px;
  font-weight: 600;
}

.team .teamNode .title {
  font-size: 16px;
  font-weight: 300;
}
