.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.articles .postitem {
  width: 48%;
  margin-bottom: 5vw;
}

.articles .postitem img {
  width: 100%;
  height: 250px;
  object-position: center;
  object-fit: cover;
}

.articles .postitem .postContent .postTitle {
  font-weight: 600;
  margin: 20px 0 0;
  display: inline-block;
  font-size: 18px;
}
.articles .postitem .postContent .divider {
  margin: 5px 0;
}
.articles .postitem .postContent .postAbst {
  line-height: 32px;
}
.articles .postitem .postContent .postFoot {
  margin-top: 15px;
}
.articles .postitem .postContent .postFoot p {
  font-size: 16px;
  opacity: 0.7;
}
