#gallery {
  height: calc(100vh - 70px);
}

#gallery .soon {
  margin-top: 20px;
}

#gallery .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

#gallery .items .item-cont {
  width: 23%;
  padding-top: 23%;
  margin-bottom: 2vw;
  border: 2px solid white;
  position: relative;
}
#gallery .items .item-cont .item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.submit {
  color: white;
}
