#gallery {
}

#gallery .soon {
  margin-top: 20px;
}

#gallery .items {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -1%;
}

#gallery .items .item-cont {
  width: 23%;
  padding-top: 23%;
  border: 2px solid white;
  position: relative;
  margin: 0 0.8% 2vw;
}
#gallery .items .item-cont .item {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.submit {
  color: white;
}
