#home {
  margin: 300px auto 0;
}
#home #title {
  font-size: 72px;
  font-weight: 300;
}
#home #title span {
  font-weight: 500;
}
#home .subheader {
  margin: 30px 0 120px;
}

#home .button {
  font-size: 18px;
  color: #ff00c7;
  text-decoration: none;
  border: 2px solid #ff00c7;
  height: 50px;
  line-height: 50px;
  width: 250px;
  text-align: center;
  display: inline-block;
}
#home .button span {
  transition: 0.2s;
}
#home .button:hover span {
  margin-left: 10px;
}
#home .content .introheader {
  font-weight: 600;
  margin: 50px 0;
}
#home .content .intro {
  width: 630px;
  line-height: 32px;
}
#home .content .intro span.link span.arrow {
  transition: 0.2s;
}
#home .content .intro span.link:hover span.arrow {
  margin-left: 5px;
}

#recent .subheader {
  margin: 100px 0 40px;
}
#recent .articles {
  display: flex;
  justify-content: space-between;
}

#recent .articles .postitem {
  width: 48%;
}

#recent .articles .postitem img {
  width: 100%;
  height: 250px;
  object-position: center;
  object-fit: cover;
}

#recent .articles .postitem .postContent .postTitle {
  font-weight: 600;
  margin: 20px 0 0;
}
#recent .articles .postitem .postContent .divider {
  margin: 5px 0;
}
#recent .articles .postitem .postContent .postAbst {
  line-height: 32px;
}
#recent .articles .postitem .postContent .postFoot {
  margin-top: 15px;
}
#recent .articles .postitem .postContent .postFoot p {
  font-size: 16px;
  opacity: 0.7;
}
