body {
  background-color: black;

  overflow-y: overlay;
}

.maincontent {
  width: 1220px;
  margin: 20px auto 0;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 18px;
}
a {
  color: #ff00c7;
  text-decoration: none;
}

p.header {
  font-size: 60px;
}

p.subheader {
  font-size: 28px;
}

#content {
  width: calc(100vw - 60px);
  border: 2px solid white;
  margin: 20px 0 20px 20px;
  padding-bottom: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

#navbar {
  width: calc(100vw - 60px);
  top: 50px;
  position: absolute;
}
#navbar .content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

#navbar .content .navitem a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.2s;
  font-weight: 600;
}

#navbar .content .navitem a:hover {
  color: #ff00c7;
}

#socialbar {
  position: fixed;
  /* width: calc(100vw - 64px); */
  top: 30vh;
  display: flex;
  justify-content: center;
  left: calc(100vw - 45px);
}

/* #socialbar .fixer {
  width: 1220px;
  display: flex;
  justify-content: flex-end;
} */

#socialbar .content {
  display: flex;
  flex-direction: column;
  width: 20px;
  background-color: black;
  height: 350px;
}
#socialbar .content .line {
  background-color: white;
  height: 50px;
  width: 2px;
  margin-left: 7px;
}
#socialbar .content .links {
  display: flex;
  flex-direction: column;
}
#socialbar .content .links a {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  display: block;
  margin-top: 15px;
}
#socialbar .content .note {
  transform-origin: center left;
  transform: rotate(90deg) translateY(-7px);
  width: 250px;
  font-size: 16px;
  margin-top: 20px;
}
.facebook {
  background-image: url(../../images/logo_fb_3.png);
  background-size: cover;
  background-position: center;
}
.instagram {
  background-image: url(../../images/logo_insta_3.png);
  background-size: cover;
  background-position: center;
}
.imagine {
  background-image: url(../../images/logo_R_3.png);
  background-size: cover;
  background-position: center;
}

/*mobile bars*/
.mobiletoggle {
  width: 100vw;
  height: 20px;
  position: absolute;
  top: 25px;
  z-index: 10;
}
.mobiletoggle .hamburg {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.mobiletoggle .hamburg .hamLine {
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.2s;
}
.mobiletoggle .hamburg .hamLine .line {
  background-color: #ff00c7;
  height: 2px;
  width: 25px;
  transition: 0.2s;
}
.mobiletoggle .hamburg .hamLine .line.first {
  width: 15px;
}
.mobiletoggle .hamburg .hamLine:hover .line.first,
.mobiletoggle .hamburg.active .hamLine .line.first {
  width: 25px;
}
.mobiletoggle .hamburg.active .hamLine {
  position: relative;
}
.mobiletoggle .hamburg.active .hamLine .line {
  position: absolute;
  transform: rotate(45deg);
}
.mobiletoggle .hamburg.active .hamLine .line.first {
  transform: rotate(-45deg);
}

#mobilebar {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100vw;
  transition: 0.5s;
  top: 0;
  display: flex;
}
#mobilebar .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
#mobilebar .content .navitem {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}

.hidebar {
  overflow: hidden !important;
}

#footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
#footer .line {
  width: 50px;
  height: 2px;
  background-color: #ff00c7;
  margin: 25px auto;
}
#footer p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
#footer .project p {
}

#footer .socialmedia {
  display: flex;
  margin: 25px auto;
}
#footer .socialmedia .item a {
  height: 25px;
  width: 25px;
  margin: 0 10px;
  display: inline-block;
}

.floatingbg {
  position: absolute;
  width: 40vw;
  top: 15vh;
  left: 50vw;
  transform: translate(0, 0);
}
