body {
  background-color: black;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 18px;
}
a {
  color: #ff00c7;
  text-decoration: none;
}

p.subheader {
  font-size: 28px;
}

#content {
  width: calc(100vw - 64px);
  border: 2px solid white;
  margin: 20px auto;
}

#navbar {
  width: calc(100vw - 44px);
  top: 50px;
  position: absolute;
}
#navbar .content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

#navbar .content .navitem a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.2s;
  font-weight: 600;
}

#navbar .content .navitem a:hover {
  color: #ff00c7;
}
