body {
  background-color: black;
}

.maincontent {
  width: 1220px;
  margin: 20px auto 0;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 18px;
}
a {
  color: #ff00c7;
  text-decoration: none;
}

p.header {
  font-size: 60px;
}

p.subheader {
  font-size: 28px;
}

#content {
  width: calc(100vw - 64px);
  border: 2px solid white;
  margin: 20px auto;
  padding-bottom: 60px;
}

#navbar {
  width: calc(100vw - 64px);
  top: 50px;
  position: absolute;
}
#navbar .content {
  width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

#navbar .content .navitem a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  transition: 0.2s;
  font-weight: 600;
}

#navbar .content .navitem a:hover {
  color: #ff00c7;
}

#socialbar {
  position: fixed;
  /* width: calc(100vw - 64px); */
  top: 30vh;
  display: flex;
  justify-content: center;
  right: 10px;
}

/* #socialbar .fixer {
  width: 1220px;
  display: flex;
  justify-content: flex-end;
} */

#socialbar .content {
  display: flex;
  flex-direction: column;
  width: 20px;
  background-color: black;
  height: 350px;
}
#socialbar .content .line {
  background-color: white;
  height: 50px;
  width: 2px;
  margin-left: 7px;
}
#socialbar .content .links {
  display: flex;
  flex-direction: column;
}
#socialbar .content .links a {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: white;
  display: block;
  margin-top: 15px;
}
#socialbar .content .note {
  transform-origin: center left;
  transform: rotate(90deg) translateY(-7px);
  width: 250px;
  font-size: 16px;
  margin-top: 20px;
}
