#post {
  width: 820px;
}
#post .header {
  width: 60%;
}
#post .hero {
  width: 100%;
  max-height: 400px;
  min-height: 250px;
  height: 100%;
  object-position: center;
  object-fit: cover;
  margin-top: 40px;
}
#post .divider {
  margin: 20px 0;
}

#post .author {
  font-size: 16px;
  opacity: 0.7;
}

#post .text {
  margin-top: 50px;
}

#post .text p {
  margin-bottom: 25px;
  line-height: 32px;
  color: rgb(224, 224, 224);
}
#post .text ol {
  margin: 25px 0;
}
#post .text li {
  margin-bottom: 15px;
  line-height: 32px;
  color: rgb(224, 224, 224);
  font-size: 18px;
}

#post .text img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
