p {
  color: white;
  font-size: 18px;
}
#quiz {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#quiz .pages {
  height: 100%;
  display: flex;
  position: absolute;
  transition: 0.5s;
}
#quiz .pages .page {
  width: calc(100vw - 44px);
  height: 100%;
}
#quiz .pages .page .content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#quiz .pages .page .content .nextCont {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}
#quiz .pages .page .content .next {
  border: 2px solid white;
  color: white;
  padding: 20px 30px;
  opacity: 0.3;
  transition: 0.2s;
}
#quiz .pages .page .content .next.active {
  opacity: 1;
  color: #ff00c7;
  border: 2px solid #ff00c7;
  cursor: pointer;
}
#quiz .pages .page1 .content .subheader,
#quiz .pages .page2 .content .subheader {
  text-align: center;
  margin: 0 0 60px;
}
#quiz .pages .page .inputs {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
#quiz .pages .page input {
  background-color: black;
  padding: 15px;
  color: white;
  border: 2px solid white;
  transition: 0.2s;
  font-size: 18px;
  width: 40%;
}
#quiz .pages .page input:focus {
  background-color: #222222;
}
#quiz .page0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#quiz .page0 .subheader {
  margin: 30px 0 60px;
}
#quiz .start {
  color: #ff00c7;
  border: 2px solid #ff00c7;
  padding: 20px;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

#quiz .pages .page2 input {
  width: 220px;
  text-align: center;
}
#quiz .pages .page2 .calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quiz .pages .page3 .subheader,
#quiz .pages .page5 .subheader,
#quiz .pages .page6 .subheader {
  width: 400px;
  margin-bottom: 60px;
  line-height: 40px;
}
#quiz .pages .page3 .options,
#quiz .pages .page5 .options,
#quiz .pages .page6 .options,
#quiz .pages .page9 .options {
  display: flex;
  justify-content: space-between;
}
#quiz .pages .page3 .options .option,
#quiz .pages .page5 .options .option {
  width: 25%;
  border: 2px solid white;
  height: 300px;
  transition: 0.2s;
  opacity: 0.5;
  cursor: pointer;
}
#quiz .pages .page3 .options .option.active,
#quiz .pages .page5 .options .option.active,
#quiz .pages .page6 .options .option.active,
#quiz .pages .page9 .options .option.active {
  opacity: 1;
}

#quiz .pages .page4 .subheader {
  margin-bottom: 60px;
}
#quiz .pages .page4 .content .two-colm {
  display: flex;
  justify-content: space-between;
}
#quiz .pages .page4 .content .two-colm .img {
  border: 2px solid white;
  width: 50%;
  height: 300px;
}
#quiz .pages .page4 .content .two-colm .choices {
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
}
#quiz .pages .page4 .content .two-colm .choices .option {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
#quiz .pages .page4 .content .two-colm .choices .option .circle {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#quiz .pages .page4 .content .two-colm .choices .option .circle .select {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  display: inline-block;
  background-color: white;
  opacity: 0;
  transition: 0.2s;
}
#quiz
  .pages
  .page4
  .content
  .two-colm
  .choices
  .option
  .circle
  .select.selected {
  height: 10px;
  width: 10px;
  opacity: 1;
}

#quiz .pages .page6 .options .option {
  width: 22%;
  border: 2px solid white;
  height: 300px;
  transition: 0.2s;
  opacity: 0.5;
}

#quiz .pages .page7 .subheader,
#quiz .pages .page8 .subheader {
  margin-bottom: 60px;
  width: 500px;
  line-height: 40px;
}
#quiz .pages .options .scale {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#quiz .pages .options .scale .option {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: black;
  z-index: 2;
  cursor: pointer;
}
#quiz .pages .options .scale .line {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-top: 10px;
  left: 0;
}
#quiz .pages .options .circCont {
  position: relative;
  width: 811px;
}
#quiz .pages .options .selectedScale {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 3;
  margin: -17px 7px 7px 7px;
  transition: 0.5s;
  display: none;
}
#quiz .pages .options .labels {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -10px;
  width: 870px;
  opacity: 0.7;
}
#quiz .pages .options .labels .label {
  color: white;
  font-size: 14px;
}
#quiz .pages .page9 .content .subheader {
  width: 500px;
  margin-bottom: 60px;
  line-height: 40px;
}
#quiz .pages .page9 .options .option {
  width: 45%;
  border: 2px solid white;
  height: 250px;
  transition: 0.2s;
  opacity: 0.5;
}
#quiz .pages .page10 .answer {
  margin: 20px 0;
}
#quiz .pages .page10 .answer .resp {
  color: #ff00c7;
}
#quiz .pages .page10 .ctrls {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#quiz .pages .page10 .ctrls .ctrl {
  color: white;
  border: 2px solid white;
  padding: 10px 25px;
  font-size: 14px;
  margin: 0 50px;
}
#quiz .pages .page10 .ctrls .ctrl.submit {
  color: #ff00c7;
  border: 2px solid #ff00c7;
  padding: 20px 30px;
}
#quiz .pages .page10 .ctrls .ctrl.submit.inactive {
  color: white;
  border: 2px solid white;
  opacity: 0.2;
}
#quiz .pages .page11 p.subheader {
  margin-bottom: 40px;
}
#quiz .pages .page11 p {
  text-align: center;
  width: 400px;
  line-height: 30px;
  margin: 0 auto;
}
#quiz .pages .page11 p.bye {
  margin-top: 40px;
}

#quiz .pagectrl {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  transition: 0.5s;
}
#quiz .pagectrl.hidden {
  bottom: -60px;
}
#quiz .pagectrl .ctrl {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 0 20px;
  transition: 0.3s;
}
#quiz .pagectrl .ctrl.inactive {
  opacity: 0.2;
}
#quiz .pagectrl .ctrl p {
  font-size: 14px;
}
#quiz .pgnum {
  display: flex;
  align-items: center;
  position: relative;
}
#quiz .pgnum .circle {
  width: 100%;
  height: 16px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 0 5px;
}
#quiz .pgnum .circle.inactive {
  opacity: 0.3;
}
#quiz .pgnum .curpg {
  background-color: #ff00c7;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  position: absolute;
  margin-left: 11px;
  transition: 0.3s;
}
.colored {
  color: #ff00c7;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #quiz .pgnum .curpg {
    top: 6px !important;
  }
}
