p {
  color: white;
  font-size: 18px;
}
#quiz {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#quiz .pages {
  height: 100%;
  display: flex;
  position: absolute;
  transition: 0.5s;
}
#quiz .pages .page {
  width: calc(100vw - 44px);
  height: 100%;
}
#quiz .pages .page .content {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quiz .pages .page1 .content .subheader,
#quiz .pages .page2 .content .subheader {
  text-align: center;
  margin: 0 0 60px;
}
#quiz .pages .page .inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#quiz .pages .page input {
  background-color: black;
  padding: 15px;
  color: white;
  border: 2px solid white;
  transition: 0.2s;
  font-size: 18px;
  width: 33%;
}
#quiz .pages .page input:focus {
  background-color: #222222;
}
#quiz .page0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#quiz .page0 .subheader {
  margin: 30px 0 60px;
}
#quiz .start {
  color: #ff00c7;
  border: 2px solid #ff00c7;
  padding: 20px;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

#quiz .pages .page2 input {
  width: 220px;
  text-align: center;
}
#quiz .pages .page2 .calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz .pagectrl {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
  transition: 0.5s;
}
#quiz .pagectrl.hidden {
  transform: translateY(100px);
}
#quiz .pagectrl .ctrl {
  cursor: pointer;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 0 20px;
}
#quiz .pagectrl .ctrl p {
  font-size: 16px;
}
#quiz .pgnum {
  display: flex;
  align-items: center;
  position: relative;
}
#quiz .pgnum .circle {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 0 5px;
  cursor: pointer;
}
#quiz .pgnum .curpg {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  position: absolute;
  margin-left: 11px;
  transition: 0.3s;
}
